<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head.ejs') %>
</head>
<body>
  
  <section class="sec2">
    <button><a href="/">HOME</a></button>
  <div class="header1"> BEST BOOKS
    <button class="button"><a href="/">HOME</a></button>
  </div>
 
  


<%- include('details.ejs' , {oneBook : oneBook}) %>
  <!-- <div id=footer> </div> -->

</section>
</body>
</html>