
/* show ejs */


#images {
  border:solid 3px darkolivegreen;
  margin-top: 1rem;
   margin-left: 9rem; 
  margin-right: 9rem; 
  margin-bottom: 1rem;
}

#images img {
  width: 100%;
}

#title {
  border: darkolivegreen 3px solid;
  color: black;
 grid-column: 3/5; 
 text-align: center;
 height:75px;
 line-height: 75px;
 margin-bottom: 1rem;
margin-left: 2rem;
margin-right: 2rem;
}
#authors {
  border: darkolivegreen 3px solid;
  color: black;
  grid-column: 3/5;
  text-align: center;
  height:75px;
  line-height: 75px;
  margin-bottom: 1rem;
  margin-left: 2rem;
margin-right: 2rem;
}
#isbn h4 {
  color: transparent;
}
#description {
  border: darkolivegreen 3px solid;
color: black;
  margin-left: 1rem;
  margin-right: 1rem;
  grid-column: 4/5;
  text-align: center;
  
  line-height: 20px;
  height: 120px;
  overflow-y:scroll;
  margin-bottom: 1rem;
  margin-left: 2rem;
margin-right: 2rem;
}
#searchbutton {

  height:40px;
}
/* footer{
  position: relative;
  

  
} */
footer div{
  max-width:480px;
  border:solid 5px burlywood;
  background-color: darkolivegreen;
 position: absolute;
 margin-left:30rem;
 width:100%;
 height:50px;
 
}


/* new ejs */
/* #sec2 {
  margin:auto;
  align-self: center;
  border: solid 3px burlywood;
  background-color: rgba(128, 128, 128, 0.582);
  color:white;
  max-width: 480px;
  height:100%;
  display:grid;
  grid-template-columns: 40px 400px 40px;
  grid-template-rows: 75px 75px  700px  80px;

} */

#searchBooks {
  grid-column: 2/3;
  grid-row:  3/4;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

/* #form {
  border: 5px solid white;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: 50px 50px 50px;
  align-items:top ;
} */

#search {

  border: darkolivegreen solid 3px;
  background-color: burlywood;
margin-bottom:2rem;
height:100px;
line-height: 100px;
font-size: 20pt;
width:100%;
  
}
#new-title {
  margin-bottom:2rem;
  border: darkolivegreen solid 3px;
  background-color: burlywood;
  height:100px;
  line-height: 100px;
  font-size: 20pt;
}
#new-author {
  margin-bottom:2rem;
  border: darkolivegreen solid 3px;
  background-color: burlywood;
  height:100px;
  line-height: 100px;
  font-size: 20pt;
  
}
button {
 
  border: burlywood solid 3px;
  background-color: darkolivegreen;
  height:75px;
  font-size: 20pt;
  width:100%;
  grid-column: 2/3;
 
}

#new-footer {
  background-color: darkolivegreen;
  grid-column: 1/4;
  grid-row: 4/5;
}




/* add ejs */

#addimages{
  border: solid 2px white;
 margin-bottom: 2rem;
 border: darkolivegreen solid 3px;
 background-color: burlywood;
 color: black;
 text-align: center;
 height:75px;
overflow-y: visible;
}
#addimages h2{
  width: 100%;
  overflow-x: scroll;
 
}

#addauthors{
  border: solid 2px white;
  margin-bottom: 2rem;
  border: darkolivegreen solid 3px;
  background-color: burlywood;
  color: black;
  text-align: center;
  height:75px;
  line-height: 75px;
}
#addisbn{
  border: solid 2px white;
  margin-bottom: 2rem;
  border: darkolivegreen solid 3px;
  background-color: burlywood;
  color: black;
  text-align: center;
  height:75px;
  line-height: 75px;
}
#adddescription{
  border: solid 2px white;
  margin-bottom: 2rem;
  border: darkolivegreen solid 3px;
  background-color: burlywood;
  color: black;
  height:100px;
  overflow-y:scroll;
}
#addtitle{
  border: solid 2px white;
  margin-bottom: 2rem;
  border: darkolivegreen solid 3px;
  background-color: burlywood;
  color: black;
  text-align: center;
  height:75px;
  line-height: normal;
  overflow-y: scroll;
}

#addtitle h2 {
margin-top: 1rem;
}


    /* detail ejs */



#detailimages{
  
  margin-top: 3rem;
  border:solid 3px darkolivegreen;
  margin-left: 8rem; 
  margin-right: 8rem;
  margin-bottom: 1rem;
 
}
#detailimages img{
  width: 100%;
 
}


#detailtitle{

  margin-bottom: 2rem;
  border: darkolivegreen solid 3px;
  background-color: burlywood;
  color: black;
  text-align: center;
  height:75px;
  line-height: normal;
  overflow-y: scroll;
}
#detailauthors{
  margin-bottom: 2rem;
  border: darkolivegreen solid 3px;
  background-color: burlywood;
  color: black;
  text-align: center;
  height:75px;
  line-height: 75px;
}
#detailisbn{
  margin-bottom: 2rem;
  border: darkolivegreen solid 3px;
  background-color: burlywood;
  color: black;
  text-align: center;
  height:75px;
  line-height: 75px;
}
#detaildescription{
  margin-bottom: 2rem;
  border: darkolivegreen solid 3px;
  background-color: burlywood;
  color: black;
  height:100px;
  overflow-y:scroll;
}
#detailbookshelf{
 
  margin-bottom: 2rem;
  border: darkolivegreen solid 3px;
  background-color: burlywood;
  color: black;
  text-align: center;
  height:40px;
  line-height: 40px;
}